.App {
  text-align: center;
  background-image: -webkit-linear-gradient( black 20%, #017102);
  padding:0;
  margin:0;
  border: 0;
  height: 1000px;
  width:auto;

}
.samanjaName{
  position: absolute;
  z-index: 1;
  width:fill;
  
  margin-top: 100px;
}
